

Download the "Car Evaluation" Dataset from UCI Repository (https://archive.ics.uci.edu/ml/datasets/Car+Evaluation). 
Remove the target 'Class Values' from the dataset while applying clustering algorithms.

Find the optimal number of clusters using Elbow and Silhouette Method. 

Compare KMeans and Agglomerative Clustering methods for clustering the instances in the above dataset.

Validate the optimal number of clusters found out in the previous question.

*Hint - Even if the algorithm does not require labels, for cross-checking of clustering values, you may use the labels.

Find what hyperparameters were suitable in KMeans (n_clusters, max_iter, init, algorithm)
Find what hyperparameters were suitable in Agglomerative Clustering (n_clusters, metric, linkage)
Plot Hierarchical Clustering (Dendrogram) [Source]
Compare the better clustering algorithm with any classification algorithm, and write your notes on the same

In [2]:
import pandas as pd

In [20]:
col_names = ["buying",
            "maintenance",
            "doors",
            "persons",
            "lug_boots",
            "safety",
            "class values"]

In [21]:
#df=pd.read_csv("C:/Users/ADMIN/Downloads/car.data",col_names)
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data"
col_names = ["buying",
            "maintenance",
            "doors",
            "persons",
            "lug_boots",
            "safety",
            "class values"]
df=pd.read_csv(url, names=col_names)

In [22]:
df.head(5)

  buying maintenance doors persons lug_boots safety class values
0  vhigh       vhigh     2       2     small    low        unacc
1  vhigh       vhigh     2       2     small    med        unacc
2  vhigh       vhigh     2       2     small   high        unacc
3  vhigh       vhigh     2       2       med    low        unacc
4  vhigh       vhigh     2       2       med    med        unacc

In [23]:
# Dropping the target column
df = df.drop('class values', axis=1)
df.head(5)

  buying maintenance doors persons lug_boots safety
0  vhigh       vhigh     2       2     small    low
1  vhigh       vhigh     2       2     small    med
2  vhigh       vhigh     2       2     small   high
3  vhigh       vhigh     2       2       med    low
4  vhigh       vhigh     2       2       med    med

In [27]:
# label encoding
from sklearn.preprocessing import LabelEncoder as le
df['buying']=le.fit(df['buying'])
df['buying'] = le.fit_transform(df['buying'])

TypeError: fit() missing 1 required positional argument: 'y'

In [8]:
# Normalizing the dataframe
from sklearn import preprocessing
process = preprocessing.normalize(df)
df1 = pd.DataFrame(process, columns=df.columns)
print(df1)

ValueError: could not convert string to float: 'vhigh'